@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* All */
html, body {
  font-weight: 500;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
  box-sizing: border;
}
h2 {
  color: #3776ab;
  margin-bottom: 4px;
  text-align: left;
}
.span-category {
  font-size: 16px;
  color: #37aba7;
  font-weight: bold;
}
.container {
  display: flex;
  max-width: 1000px;
  margin: auto;
}
.content {
  width: 65%;
  margin: 10px auto;
  padding: 20px;
}
.sidebar {
  width: 20%;
  margin: 10px auto;
  padding: 20px;
}
.max-width {
  max-width: 500px;
}
.search {
  margin-left: auto;
  width: 300px;
  height: 36px;
  color: #333;
  border-radius: 12px;
  border: 2px solid #3776ab;
}
.cut-text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.datetime {
  color: #909090;
}
.italic {
  font-style: italic;
}
.browse-additional {
  width: 100%;
  font-size: 16px;
  margin: 4px 0;
}
input::file-selector-button {
  color: #333;
  border-radius: 12px;
  width: 50%;
  padding: 12px 20px;
  border: 1px solid #ddd;
  text-align: left;
}
.capitalize {
  text-transform: capitalize;
  padding-left: 16px;
}


/* Navbar */
.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  background: linear-gradient(90deg, rgba(55,118,171,1) 0%, rgba(255,223,115,1) 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

/* Button */
.button-blue {
  color: #333;
  border-radius: 12px;
  border: 2px solid #3776ab;
}
.button-blue:hover {
  color: white;
  background-color: #3776ab;
}
.button-blue:active {
  background-color: #3c5e7a;
  border-color: #3c5e7a;
}

/* Blog List */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}
.blog-preview:hover {
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  background: rgb(55,118,171);
  background: linear-gradient(90deg, rgba(55,118,171,0.2) 0%, rgba(255,211,67,0.2) 100%);
}
.blog-preview:active {
  padding: 9px 15px;
  margin: 19px -1;
  border: 2px solid #3776ab;
}

.blog-info {
  text-align: left;
}
.blog-preview a{
  text-decoration: none;
}
.blog-preview span{
  text-align: left;
  margin-top: 4px;
}
.difficulty-easy {
  color: #48ab37;
  text-align: left;
  font-weight: bold;
}
.difficulty-medium {
  color: #ab9f37;
  text-align: left;
  font-weight: bold;
}
.difficulty-hard {
  color: #ab5037;
  text-align: left;
  font-weight: bold;
}

/* Blog Details */
.blog-details {
  margin-top: 30px;
  max-width: 600px;
  margin: auto;
  text-align: left;
}
.blog-details h1 {
  font-size: 30px;
  color: #3776ab;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-details div {
  padding: 10px 18px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}
.blog-details p {
  margin: 10px auto;
}
.blog-details button {
  background: #3776ab;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}
.blog-details img {
  margin-top: 4px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
  max-height: 200px;
  object-fit: cover;
}

/* Create New Blog */
.create {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.create h2 {
  text-align: center;
  margin: 20px;
}
.create label {
  padding: 6px 10px;
  margin: 10px auto;
}
.create input[type='text'], .create textarea, .create select {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-sizing: border-box;
  resize: vertical;
}
.create textarea {
  height: 100px;
}
.create button {
  font-weight: 500;
  font-size: 16px;
  background: white;
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  cursor: pointer;
}

/* Not Found Page */
.not-found {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.not-found h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.not-found a {
  text-decoration: none;
  padding: 6px;
}
.not-found a:hover {
  color: #ff0000;
}

/* Sidebar */
.categories a {
  text-decoration: none;
}
.category {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}
.category:hover {
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  background: rgb(255,211,67);
  background: linear-gradient(90deg, rgba(255,211,67,0.2) 0%, rgba(55,118,171,0.2) 100%);
}
.category:active {
  padding: 9px 15px;
  margin: 19px -1;
  border: 2px solid #3776ab;
}



/* Footer */
.footer {
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
  border-top: 1px solid #f2f2f2;
}
.footer span {
  color: #909090;
  margin: auto;
  padding-top: 20px;
}

/* Paginator */
.pagination {
  display: inline-block;
  margin-top: 30px;
}
.pagination a {
  color: #3776ab;
  float: left;
  margin: -0.5px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}
.pagination a.active {
  color: #909090;
}
.pagination a:hover:not(.active) {
  background-color: #3776ab;
  color: white;
}
